.custom-button {
  background-color: transparent;
  width: 150px;
  height: 100px;
  outline: 0;
  box-shadow: none !important;
}

.play,
.pause {
  position: absolute;
  left: 0;
  bottom: 0;
}

.reset {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 140px;
}

.custom-button i {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}

i.huge.sync.alternate.icon {
  left: 50% !important;
}
