.display {
  text-align: center;
 margin-top: 40px;
 font-size: 20px;
}

::placeholder {
  color: aqua;
}

input {
  border:0;
  outline:0;
  text-align: center;
  color: aqua;
  font-size: 100px;
  background-color: transparent;
}
input:focus {outline:none!important;}


/* removes arrow in input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
