.timer {
  margin-top: 150px !important;

  border: 10px solid gray;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  

  position: absolute;
  top: 50%;
  left: 50%;
  /* must be negatively half of width and height to perfectly center*/
  margin: -150px 0 0 -150px;
  /* box-shadow: 0px 20px white; */
}
